html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0e17;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    color: #fffffe;
    font-family: 'Montserrat';
    padding-top: 20px;
    text-align: center;
}

#slogan {
    color: #f25f4c;
    text-align: center;
    font-family: 'Inter';
    padding-bottom: 5px;
    border-bottom: 2px solid #e53170;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.mb-3 {
    color: #fffffe;
    font-family: "Inter";
}

a {
    color: #ff8906;
}

.alert-warning {
    --bs-alert-color: #e53170;
    --bs-alert-bg:  #fffffe;
    --bs-alert-border-color: #fffffe;
}

.btn-primary {
    --bs-btn-color: #fffffe;
    --bs-btn-bg: #ff8906;
    --bs-btn-border-color: #ff8906;
    --bs-btn-hover-color: #fffffe;
    --bs-btn-hover-bg: #f25f4c;
    --bs-btn-hover-border-color: #f25f4c;
    --bs-btn-active-color: #fffffe;
    --bs-btn-active-bg: #f25f4c;
    --bs-btn-active-border-color: #f25f4c;
    --bs-btn-disabled-bg: #f25f4c;
    --bs-btn-disabled-border-color: #f25f4c;
}

.btn-danger {
    --bs-btn-color: #fffffe;
    --bs-btn-bg: #e53170;
    --bs-btn-border-color: #e53170;
    --bs-btn-hover-bg: #f25f4c;
    --bs-btn-hover-border-color: #f25f4c;
    --bs-btn-active-color: #fffffe;
    --bs-btn-active-bg: #f25f4c;
    --bs-btn-active-border-color: #f25f4c;
    --bs-btn-disabled-bg: #f25f4c;
    --bs-btn-disabled-border-color: #f25f4c;
}