html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0e17;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    color: #fffffe;
    font-family: 'Montserrat';
    padding-top: 20px;
    text-align: center;
}

#slogan {
    color: #f25f4c;
    text-align: center;
    font-family: 'Inter';
    padding-bottom: 5px;
    border-bottom: 2px solid #e53170;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.mb-3 {
    color: #fffffe;
    font-family: "Inter";
}

a {
    color: #ff8906;
}

.alert-warning {
    --bs-alert-color: #e53170;
    --bs-alert-bg: #fffffe;
    --bs-alert-border-color: #fffffe;
}

.alert-primary {
    --bs-alert-color: #fffffe;
    --bs-alert-bg: #ff8906;
    --bs-alert-border-color: #ff8906;
    --bs-alert-link-color: #fffffe;
    --bs-alert-border-radius: 0;
}

.btn-primary {
    --bs-btn-color: #fffffe;
    --bs-btn-bg: #ff8906;
    --bs-btn-border-color: #ff8906;
    --bs-btn-hover-color: #fffffe;
    --bs-btn-hover-bg: #f25f4c;
    --bs-btn-hover-border-color: #f25f4c;
    --bs-btn-active-color: #fffffe;
    --bs-btn-active-bg: #f25f4c;
    --bs-btn-active-border-color: #f25f4c;
    --bs-btn-disabled-bg: #f25f4c;
    --bs-btn-disabled-border-color: #f25f4c;
}

.btn-danger {
    --bs-btn-color: #fffffe;
    --bs-btn-bg: #e53170;
    --bs-btn-border-color: #e53170;
    --bs-btn-hover-bg: #f25f4c;
    --bs-btn-hover-border-color: #f25f4c;
    --bs-btn-active-color: #fffffe;
    --bs-btn-active-bg: #f25f4c;
    --bs-btn-active-border-color: #f25f4c;
    --bs-btn-disabled-bg: #f25f4c;
    --bs-btn-disabled-border-color: #f25f4c;
}

.navbar {
    --bs-navbar-color: #ff8906;
    --bs-navbar-hover-color: #f25f4c;
    --bs-navbar-hover-bg: #f25f4c;
    --bs-navbar-hover-border-color: #f25f4c;
    --bs-navbar-active-color: #f25f4c;
    font-family: "Montserrat";
}

.navbar-toggler {
    color: #f25f4c;
}

.dropdown-menu {
    background-color: #0f0e17;
    border-color: #0f0e17;
    --bs-dropdown-link-active-color: #f25f4c;
    --bs-dropdown-link-active-bg: #0f0e17;
    --bs-dropdown-link-hover-color: #f25f4c;
    --bs-dropdown-link-hover-bg: #0f0f11;
}

.dropdown-item {
    color: #ff8906;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.manufacturer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.manufacturer-name {
    color: #fffffe;
    padding: 5px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: "Inter";
}

.table {
    border-color: #e53170;
    --bs-table-color: #fffffe;
    --bs-table-bg: #0f0e17;
    font-family: "Inter";
}

#fav {
    color: #ff8906;
    font-weight: bold;
}