{% extends "layout.html" %}

{% block title %}
    : Delete Account
{% endblock %}

{% block main %}
    <div class="alert alert-warning" role="alert">
        Are you sure? Deletion of account is <strong>PERMANENT</strong>!
    </div>
    <form action="/delete" method="post">
        <div class="mb-3">
            <label for="password" class="form-label">Type your password for confirmation</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <button class="btn btn-primary" type="submit">Delete Account</button>
    </form>
{% endblock %}