{% extends "layout.html" %}

{% block main %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/password">Change Password</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section>
    {% for manufacturer in manufacturer_list %}
      <h2>{{ manufacturer.name }}</h2>
      {% for headphone in headphones %}
        {% if headphone.manufacturer == manufacturer.name %}
          <form action="/" method="post">
            <div class="card" style="width: 18rem;">
              <img src="/static/{{ headphone.image }}" class="card-img-top" alt="{{ headphone.model }}">
              <div class="card-body">
                <h5 class="card-title">{{ manufacturer.name }} {{ headphone.model }}</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Connectivity: {{ headphone.connectivity }}</li>
                  <li class="list-group-item">Form Factor: {{ headphone.form_factor }}</li>
                  <li class="list-group-item">Openness: {{ headphone.openness }}</li>
                  <li class="list-group-item">Driver: {{ headphone.driver }}</li>
                  {% if headphone.sensitivity != 0 %}
                  <li class="list-group-item">Sensitivity: {{ headphone.sensitivity }} {{ headphone.sens_unit }}</li>
                  <li class="list-group-item">Impedance: {{ headphone.impedance }}</li>
                  {% endif %}
                  <li class="list-group-item">Weight: {{ headphone.weight }} g</li>
                </ul>
                <button class="btn btn-primary" name="vote" type="submit" value="{{ headphone.id }}">Vote</button>
              </div>
            </div>
          </form>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </section>
{% endblock %}