{% extends "layout.html" %}

{% block title %}
    : Login
{% endblock %}

{% block main %}
    <form action="/login" class="form" method="post">
        <div class="mb-3">
            <label for="namemail" class="form-label">Username or E-mail</label>
            <input type="text" class="form-control" id="namemail" name="namemail">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <a href="/register">Not an user? Click here to register.</a>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
{% endblock %}