{% extends "layout.html" %}

{% block title %}
    : Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <label for="current" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="current" name="current">
        </div>
        <div class="mb-3">
            <label for="new" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new" name="new">
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmation" name="confirmation">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}