{% extends "layout.html" %}

{% block title %}
    : Ranking
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Model</th>
            <th scope="col">Votes</th>
        </tr>
        </thead>
        <tbody>
            {% for headphone in headphone_ranking %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ headphone.manufacturer }}</td>
                <td>{{ headphone.model }}</td>
                <td>{{ headphone.votes}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}